@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    font-size: 1.1rem;

    --primary-text-color: rgb(255, 255, 255);
    --primary-text-color-alpha: rgba(255, 255, 255, 0.9);
    --secondary-text-color: rgb(207, 68, 4);
    --secondary-text-color-brightened: rgb(236, 80, 2);
    --secondary-text-color-alpha: rgba(236, 80, 2, 0.83);

    color: var(--primary-text-color-alpha);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans Condensed", sans-serif;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}
i {
    color:var(--secondary-text-color);
    text-shadow:  1px 1px 10px rgba(0, 0, 0, 0.2), 0px 0px 40px rgba(255, 255, 255, 0.3);
    font-size: 100px;
}
.bx-chevron-down, .bx-chevron-up, .bx-chevron-right, .bx-chevron-left, .social-icons-div > * {
    transition: 0.05s ease all;
}
.bx-chevron-down:hover, .bx-chevron-up:hover, .bx-chevron-right:hover, .bx-chevron-left:hover, .social-icons-div > *:hover {
    scale: 102%;
    color: var(--secondary-text-color-brightened);
    cursor: pointer;
}

.inline-text-highlight-div{
    display: inline;
    color: var(--secondary-text-color);
}

p + * {
    margin-top: 13px;
}

/* Set padding on sections */

section, footer{
    padding: 100px 100px;
}
.hero-section, .image-section{
    padding: 0;
}

/* Background Image and
Section Height Adjustments */

section, footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-section{
    min-height: 100vh;
    background-image: url("../images/pexels-raybilcliff-1533483.jpg");
    background-attachment: fixed;
}
.trip-section{
    min-height: 500px;
    background-image: url("../images/pexels-squaredesign-253905.jpg");
}
.locations-section{
    min-height: 900px;
    background-image: url("../images/pexels-peterfazekas-1170601.jpg");
}
.more-info-section{
    min-height: 570px;
    background-image: url("../images/pexels-marian-strinoiu-1805558-30752631.jpg");
}
.stats-section{
    min-height: 400px;
    background-image: url("../images/pexels-fotios-photos-722024.jpg");
}
.person-section{
    min-height: 850px;
    background-image: url("../images/pexels-thatguycraig000-1563356.jpg");
}
.image-section{
    min-height: 400px;
}
footer {
    min-height: 600px;
    background-image: url("../images/pexels-eberhardgross-629167.jpg");
}


/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section h1,.hero-section h2, .hero-section h3 { 
    color:var(--primary-text-color);
}

.hero-section h3,  .hero-section h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.hero-section h2 { 
    padding-top: 7px;
}

.hero-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    margin-bottom: 80px;
}
.hero-section h1, .hero-section h1 > div {
    font-size: 66px;
}
.hero-section h1 {
    padding: 10px 0  20px 0;
}


/* Trip Section */

.trip-section {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
}
.trip-section > * {
    max-width: 48%;
}

.trip-section h2{
    font-size: 4rem;
}



/* Locations Section */

.locations-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.locations-section > div {
    width: 65%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.locations-section > div > div {
    max-width: 350px;
    max-height: 500px;
}
.locations-section > div > div > div{
    width: 100%;
    height: 100%;
}
.locations-section img {
    width: 100%;
    height: 100%;
}
.locations-section h2{
    font-size: 4rem;
    margin-bottom: 50px;
}

/* More Info Section */

.more-info-section{
    display: flex;
    justify-content: space-around;
}

.more-info-section h2{
    font-size: 4rem;;
}
.more-info-section > * {
    max-width: 48%
}

.more-info-section h6{
    margin-bottom: 3px;
}


/* Stats Section */

.stats-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats-section > div {
    background-color: var(--secondary-text-color-alpha);
    height: 230px;
    width: 230px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.stats-section > div > * {
    padding: 10px 0;
    color: white;
    font-weight: 600;
}
.stats-section > div > span{
    color: var(--primary-text-color)
}
.stats-section > div > span:nth-child(1){
    font-size: 3rem;
}
.stats-section > div > span:nth-child(2){
    text-transform: uppercase;
    font-size: 0.9rem;
}


/* Person section */

.person-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.person-section span, .person-section i, .person-section p {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.person-section p{
    max-width: 720px;
}

.person-section span{
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
}

.person-section img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    box-shadow: 2px 6px 0px rgba(0, 0, 0, 0.3);
}




/* Image Section */

.image-section {
    display: flex;
    align-items: stretch;
}
.image-section > div {
    width: 25%;
}

.image-section > div  > img {
    width: 100%;
    height: 100%;
}






/* Background Black Overlay */

section, footer{
    position: relative;
}

section *, footer * {
    position: relative;
    z-index: 2;
}

section::before, footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-section::before{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); 
}
.trip-section::before{
    background: rgba(0, 0, 0, 0.4);
    /* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);  */
}
.locations-section::before{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7); 
}
.more-info-section::before{
    background: rgba(0, 0, 0, 0.3);
}
.stats-section::before{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7); 
}
.person-section::before{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.9); 
}
footer::before{
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7); 
}



/* Button/Anchor Stylings */

.btn{
    background-color: var(--secondary-text-color);
    padding: 15px 20px;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.15s ease-in-out;
    display: block;
    max-width: 140px;
    text-align: center;
    margin-top: 40px;
}
.btn:hover {
    background-color: var(--secondary-text-color-brightened);
    cursor: pointer;
}



/* Media Queries */


@media (prefers-color-scheme: dark){
    body{
        background-color: #2B2A33;
    }
}